<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.glsx.oms.bigdata.admin.ap.chartAnalysis.mapper.ChartAnalysisMapper">

	<select id="getMkInboxList"
		resultType="com.glsx.oms.bigdata.admin.ap.chartAnalysis.model.MkInboxAnalysis"
		parameterType="com.glsx.oms.bigdata.admin.ap.chartAnalysis.model.MkInboxAnalysis">
		select status status,
		count(id) number
		from
		d_mk_msg_inbox
		where 
		receiverTime between '${beginTime}' and '${endTime}'  
	<!-- 	receiverTime like '${receiverTime}%' -->
		group by
		status
	</select>

	<select id="getRequInfoList"
		resultType="com.glsx.oms.bigdata.admin.ap.chartAnalysis.model.NavRequInfoAnalysis">
		SELECT 
		TIME time,
		STATUS status,
		count(ID) number
		FROM
		d_onekeynavigate_req
		WHERE
		TIME between '${beginTime}' and '${endTime}'
		group by
		STATUS
	</select>

</mapper>